$awa-doc-black: #333;
$awa-doc-blue: #d15cc1;
$awa-doc-text-color: #34495e;
$awa-doc-text-light-blue: rgb(253, 241, 248);
$awa-doc-grey: #999;
$awa-doc-dark-grey: #666;
$awa-doc-light-grey: #ccc;
$awa-doc-border-color: #f1f4f8;
// $awa-doc-code-color: #455a64;
$awa-doc-code-color:#d15cc1;
$awa-doc-code-background-color: #f1f4f8;
$awa-doc-padding: 30px;
$awa-doc-row-max-width: 1680px;
$awa-doc-nav-width: 220px;

/* header */
$awa-doc-header-top-height: 60px;
$awa-doc-header-bottom-height: 50px;

/* simulator */
$awa-doc-simulator-width: 360px;
$awa-doc-simulator-small-width: 320px;
$awa-doc-simulator-height: 620px;
$awa-doc-simulator-small-height: 560px;
